# Discord Bot Configuration
DISCORD_BOT_TOKEN=YOUR_DISCORD_BOT_TOKEN_HERE

# Firebase Realtime Database URL
FIREBASE_DB_URL=https://fir-run-extension-t-plus-default-rtdb.asia-southeast1.firebasedatabase.app
